
body {
    color: #2f3640; 
    font-family: 'Roboto', sans-serif;
}

/* Botones personalizados */
ion-button {
    --background: #ff7f50; 
    --color: white;
    --border-radius: 30px; 
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ion-button:hover {
    transform: translateY(-4px); 
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); 
}

/* Estilos para el encabezado */
ion-header {
    background-color: #34495e; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    padding: 10px 0;
}




ion-item {
    --background: #fff; 
    --color: #2f3640; 
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out;
}

ion-item:hover {
    transform: translateX(5px); 
    background-color: #ecf0f1; 
}

ion-badge {
    background-color: #1abc9c; 
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 25px;
}


ion-card {
    --background: #fff;
    --border-radius: 12px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease;
}

ion-card:hover {
    transform: translateY(-5px); 
    --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


ion-img {
    border-radius: 12px 12px 0 0; 
}


ion-content {
    background-color: #ecf0f1; 
    border-radius: 8px;
    padding: 20px;
}


ion-input, ion-select {
    --background: #fff;
    --border-radius: 8px;
    --padding-start: 10px;
    --padding-end: 10px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

ion-input:focus, ion-select:focus {
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



ion-menu#menu {
    --background: #2c3e50; 
}


ion-header {
    --background: #34495e; 
}

ion-toolbar {
    --background: #34495e; 
    --color: white; 
}

ion-title {
    --color: white; 
}



#tituloHome {
    text-align: center; 
    font-size: 2.5rem; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    padding: 15px 0; 
    background-color:#34495e; 
   
    margin: 0; 
}


ion-toolbar {
    --background: #34495e; 
    --color: white; 
}




.titulo-login,
.titulo-register {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white; 
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titulo-form {
    font-family: 'Verdana', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.actividad-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #f9f9f9; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Imagen de la actividad */
.actividad-item ion-img {
    border-radius: 8px;
    max-width: 60px;
    margin-right: 10px;
}


.actividad-label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.actividad-titulo {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}


.actividad-texto {
    font-size: 1em;
    color: #666;
}


.btn-eliminar {
    background-color: #e74c3c;/
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 0.9em;
    border: none;
}

.btn-eliminar:hover {
    background-color: #c0392b; 
}
